* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: gray;
}

.search {
  background: white;
  position: relative;
  width: 300px;
  font-family:Verdana;
  border-radius:16px;
}

.search input {
  width: 100%;
  padding: 20px 60px 20px 20px;
  display: block;
  font-size: 16px;
  border-radius:16px;
}

.search button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  z-index: 2;
}

.search input:focus {
  color: #802;
}

.container {
  width: 900px;
  margin: auto;
}

.forecast {
  background: white;
  margin-top: 20px;
}

.flex {
  display: flex;
}
.forecast-row div{
  width: 150px;
  height: 50px;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid black;
  padding-top: 5px;
}
.forecast-row div:first-child{
  width: 250px;
}

.info-box {
  padding: 10px;
  background-color: white;
  margin-top: 20px;
}
.info-box div{
  width: 450px;
}

.mt-20 {
  margin-top: 20px;
}

