* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: gray;
}

.search {
  background: white;
  position: relative;
  width: 300px;
  font-family:Verdana;
  border-radius:16px;
}

.search input {
  width: 100%;
  padding: 20px 60px 20px 20px;
  display: block;
  font-size: 16px;
  border-radius:16px;
}

.search button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  z-index: 2;
}

.search input:focus {
  color: #802;
}

.container {
  width: 900px;
  margin: auto;
}

.forecast {
  background: white;
  margin-top: 20px;
}

.flex {
  display: flex;
}
.forecast-row div{
  width: 150px;
  height: 50px;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid black;
  padding-top: 5px;
}
.forecast-row div:first-child{
  width: 250px;
}

.info-box {
  padding: 10px;
  background-color: white;
  margin-top: 20px;
}
.info-box div div{
  width: 450px;
}

.mt-20 {
  margin-top: 20px;
}

/* Comment */
.comment-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  bottom: 25px;
  right: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.comment-window {
  width: 300px;
  height: 525px;
  background-color: white;
  position: fixed;
  bottom: 25px;
  right: 50px;
}

.comment-content {
  width: 300px;
  height: 400px;
  background-color: white;
  position: absolute;
  top: 25px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.comment-content div {
  padding: 15px 10px 15px 10px;
  border-bottom: 1px solid black;
}

.comment-input {
  height: 80px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 280px;
  resize: none;
}

.comment-header {
  display: inline-flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  width: calc(100% - 20px);
}


